<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>SEVWORD</string>
	<string>LONGWORD</string>
	<string>ZENAGA</string>
	<string>WOUCH</string>
	<string>VISCIN</string>
	<string>AARON</string>
	<string>BASES</string>
	<string>GUTTE</string>
	<string>GWINE</string>
	<string>HANCE</string>
	<string>IMMEW</string>
	<string>ISOHEL</string>
	<string>ITEMY</string>
	<string>JARMO</string>
	<string>RECOOL</string>
	<string>SCHOUT</string>
	<string>XYLOL</string>
</array>
</plist>
